/* General styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2 {
    padding-left: 20px;
}

.container {
    padding: 0 5%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas: "logo nav" "input output" "input output";
}

@media only screen and (max-width: 800px) {
    .container {
        grid-template-areas: "logo nav" "input input" "output output";
    }
    nav {
        flex-wrap: wrap;
    }
}

.logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

nav {
    grid-area: nav;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    background-color: grey;
    color: white;
    font-size: 12pt;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    min-width: 180px;
    margin-left: 20px
}

.active {
    background-color: #548ef2;
}

.input {
    grid-area: input;
}

.output {
    grid-area: output;
}

section {
    padding: 10px;
}

/* Table Styling */

.tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 101%;
}

.tbl td,
.tbl th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

.tbl th[scope=row] {
    width: 50%;
}

.tbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tbl tr:hover {
    background-color: #ddd;
}

.tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: #548ef2;
    color: white;
}

.currency {
    text-align: right;
}

.num {
    text-align: right;
}

/* Form styling */

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 6px auto;
}

.flex-qtrs .col {
    width: 24%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    width: 49%;
}

input,
select {
    width: 49%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    display: inline-block;
}

.tbl input {
    width: 100%;
}

input:read-only {
    background-color: #ccc;
}

input[type=radio] {
    align-self: center;
    width: unset;
}

.radio-label {
    width: unset;
}

input[type=checkbox] {
    align-self: center;
    height: 30px;
    margin-right: auto;
    width: 70px;
}

input[type=number] {
    text-align: right;
}

button {
    background-color: #548ef2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
}

button.block {
    width: 100%;
}

button.disabled {
    background-color: #dedede;
    color: red;
    cursor: not-allowed;
}